<% layout('/layouts/Boilerplate') %>
    <h1>All Bussinesses</h1>
    <div></div>
        <% for(let place of places) {%>
            <div class="card mb-3">
                <div class="col-md-4">
                    <img class="img-fluid" src="<%= place.image %>" >
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= place.name %>
                        </h5>
                    <p class="card-text"><%= place.category %></p>
                    <small class="text-muted"><%= place.location %></small>
                    <a class="btn btn-primary" href="/places/<%= place.id %>">Details</a>
                    </div>
                </div>

        <% } %>