<% layout('layouts/Boilerplate') %>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="<%= place.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= place.name %></h5>
                  <p class="card-text"><%= place.description %></p>
                  <p class="card-text text-muted">Registered by <%= place.owner.username %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item "><%= place.location %></li>
                  <li class="list-group-item "><%= place.category %></li>
                  <% if(place.price){ %>
                  <li class="list-group-item "><%= place.price %></li>
                  <% } %>
                </ul>
                <% if(currentUser && place.owner.equals(currentUser._id)){ %>
                <div class="card-body ">
                  <a href="/places/<%= place._id %>/edit" class="card-link btn btn-primary">Edit Bussiness</a>
                  <a href="/Places" class=" btn btn-info">Back</a>
                  <form class="d-inline" action="/places/<%= place.id %>?_method=Delete" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
                </div>
                <% } %>
              </div>
            </div>
              <div class="col-6">
                <% if(currentUser) {%>
                <h2>Leave a Review</h2>
              <form action="/places/<%= place._id %>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
                <div class="mb-3">
                  <label class="form-label" for="rating">Rating</label>
                  <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="body">Review</label>
                  <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                  <div class="valid-feedback">
                    Looks Good!
                  </div>
                </div>
                <button class="btn btn-success">Submit</button>
              </form>
              <% } %>
                <h2>Reviews</h2>
              <% for(let review of place.reviews) {%>
                <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Rating: <%= review.rating %></h5>
                <div class="card-subtitle mb-2 text-muted">Posted by <%= review.author.username %></div>
                <p class="card-text"> Review:
                  <%= review.body %>
                </p>
                <% if( currentUser && review.author.equals(currentUser._id)){ %>
                <form method="Post" action="/places/<%= place._id %>/reviews/<%= review._id %>?_method=DELETE">
                <button class="btn btn-sm btn-danger">Delete</button>
                </form>
                <% } %>
              </div>
            </div>
              <% } %>
              <% if(!currentUser){ %>
                <h6>Please <a href="/login">log in</a> if you wish to leave a review!</h6>
              <% } %>
              </div>
        
    </div>