<% layout('layouts/Boilerplate') %>
    <h1><%= place.name %></h1>
    <h2><%= place.location %></h2>
    <img class="w-50 mx-auto" src="<%= place.image %>" alt="">
    <form action="/places/<%= place.id %>?_method=Delete" method="post">
    <button>Delete</button></form>
    <footer>
        <a href="/places/<%= place.id %>/edit">Edit Bussiness</a>
        <a href="/Places">Home</a>
    </footer>